.NavbarItems{ 
    background: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.1rem;
    box-shadow: rgba(50,50,93,0.23) 0 30px 30px -20px;
}

.navbar-logo {
    color: red;
    justify-self: start;
    margin-left: 100px;
    cursor: pointer;
}

.fa-foursquare{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-leftside {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    grid-gap: 10px;
    text-align: center;
    width: 60vw;
    justify-content: center;
}

.nav-rightside {
    display: grid;
    grid-template-columns: repeat(3, auto); /* might change to 3*/
    list-style: none;
    grid-gap: 10px;
    text-align: center;
    width: 70vw;
    justify-content: right;
    margin-right: 20rem;
}

.nav-links{
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #a9a9a9;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}


